<div class="container">
  <div class="aboutus-container">
    <div class="title-container">
      <h4>A PROPOS DE NOUS</h4>
    </div>
    <div class="content-container">
      <div class="first-description">
        <p>
          On a décidé de régaler vos papilles et de sublimer vos évènements, en
          vous proposant de la <span>pâtisserie</span> ainsi que du
          <span>cake design.</span>
        </p>
      </div>
      <div class="img-container">
        <img src="/image/factory.webp" alt="Atelier" />
      </div>
      <div class="second-description">
        <div class="quote">
          <span>&#10075;&#10075;</span>
        </div>
        <div class="description">
          <p>
            Entièrement fait maison, je crée mes pâtisseries avec amour et
            passion. Chaque dessert est une œuvre unique, préparée avec soin
            pour vous offrir une expérience gourmande et mémorable.
          </p>
          <p>
            Mon entreprise est le reflet de cette passion, où chacune de mes
            créations est conçue pour apporter bonheur et satisfaction.
          </p>
        </div>
        <div class="quote">
          <span>&#10076;&#10076;</span>
        </div>
      </div>
    </div>
  </div>
</div>
