<header>

    <nav>
        @if(!isDisplayMenu) {
            
        }
        <div class="menu-burger"  [style.opacity]="isDisplayMenu ? '0%' : '100%'">
            <button id="burger-button" (click)="toggleDisplayMenu()">
                <i class="fa-solid fa-bars"></i>
                <span>Menu</span>
            </button>
        </div>


        <div class="title">
            <h1 routerLink="home">Sweet Lab's</h1>
        </div>
       
        <div class="menu-utilities">
            <div>
            @if(authService.isAuthenticated$ | async;) {
                <div>
                    <a routerLink="admin">Admin</a>
                </div>
            } @else {
                <div id="utility-contact">
                    <span>
                        Contactez-nous
                    </span>
                </div>
            }


                <div class="menu-icons">
                    <a routerLink="">
                        <div class="favorite-icons">
                            <p-badge [value]="productService.favoritesCount$ | async"></p-badge>
                            <i class="pi pi-heart" style="font-size: 20px"></i>
                        </div>
                    </a>   
                    @if(authService.isAuthenticated$ | async;) {
                        <a routerLink="/home" (click)="logout()" class="exit">
                            <i class="pi pi-sign-out" style="font-size: 20px"></i>
                        </a>
                    } @else {
                        <a routerLink="/login">
                            <i class="pi pi-user" style="font-size: 20px"></i>
                        </a>
                    }
                    
                </div>
            </div>
        </div>
       
    </nav>
    <div class="menu" [ngClass]="{'menu-inactive' : !isDisplayMenu}">
        <div class="placeholder" (click)="toggleDisplayMenu()"></div>
       
        <div>
            <div class="close-menu">
                <button id="close-menu-button" (click)="toggleDisplayMenu()">
                    <i class="fa-regular fa-circle-xmark"></i>
                </button>
            </div>
            <ul>
                <li><a routerLink="" (click)="toggleDisplayMenu()">Accueil</a></li>
                <li><a routerLink="catalogue" (click)="toggleDisplayMenu()">Notre catalogue</a></li>
                <li><a routerLink="" (click)="toggleDisplayMenu()">Vos évènements</a></li>
                <li><a routerLink="" (click)="toggleDisplayMenu()">Qui sommes nous</a></li>
                <li><a routerLink="" (click)="toggleDisplayMenu()">Contactez-nous</a></li>
            </ul>
        </div>
        
    </div>
</header>
