/* Variables */
$navcolor: white;
$font-family-secondary: serif;
$title-font: "Abhaya Libre";
$menu-item-height: 65px;

/* abhaya-libre-latin-400-normal */
@font-face {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/abhaya-libre@latest/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#nav-icon3 {
  width: 23px;
  height: 35%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  box-shadow: 0px 0.2px 0px 0.7px black;
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: #f6f6f6;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 14px;
}

#nav-icon3.open span:nth-child(1) {
  top: 7px;
  width: 0%;
  height: 0px;
  display: none;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 7px;
  width: 0%;
  height: 0px;
  display: none;
  left: 50%;
}

/* Header styles */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background-color: $navcolor;

  nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex-grow: 1;
    margin: 0;
    padding: 0 10px;
    .menu-burger {
      max-width: 120px;
      z-index: 1000;
    }

    > .title {
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: -0.41px;
      width: 200px;
      height: 100%;
      > h1 {
        font-family: $title-font;
        color: black;
        position: absolute;
        font-size: 17px;
        z-index: 1001;
        cursor: pointer;
      }
    }

    .menu-utilities {
      margin: 0 20px;
      a:nth-child(1) {
        margin-right: 15px;
      }

      .menu-icons {
        display: flex;
        > .exit {
          cursor: pointer;
        }
        > a {
          .cart-icons {
            position: relative;
            .p-element {
              position: absolute;
              top: -15px;
              right: -15px;
              opacity: 80%;
              .p-badge {
                background-color: red !important;
              }
            }
          }
        }
      }

      > div {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .menu.menu-inactive {
    display: none;
    width: 0;
  }

  .menu {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    .close-menu {
      margin-top: 20px;
      z-index: 3;
      > * {
        font-size: 27px;
        color: black;
      }
    }
    > .placeholder {
      z-index: 1;
      height: 800px;
      width: 100%;
      flex-grow: 1;
      opacity: 50%;
    }
    > .deployed-menu {
      display: flex;
      justify-content: center;
      > ul {
        padding: 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 100vw;
        z-index: 2;
        flex-shrink: 0;
        margin: 60px 0 0 0;
        > li {
          font-family: $title-font;
          letter-spacing: -0.41px;
          color: black;
          height: calc(80vh / 5);
          width: 200px;
          text-align: center;
          font-size: 30px;
          display: flex;
          align-items: center;
          position: relative;
          justify-content: center;
          > a {
            text-decoration: none;
          }
          > a:visited {
            color: black
          }
        }
        > li::after {
          content: "";
          width: 130px;
          height: 1px;
          border-bottom: 1px solid black;
          position: absolute;
          top: 62px;

        }
      }
      > .placeholder {
        width: 100vw;
      }
    }
  }
}

/* Button styles */
button {
  border: 0;
}

/* Burger button styles */
#burger-button {
  display: inline; // Default hidden, shown in media queries
  background-color: white;
  > span {
    display: none;
  }
}


/* Media Queries */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #burger-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

    > span {
      margin-left: 10px;
      display: block;
    }
  }

  .menu ul {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  // Styles for medium devices
}

@media only screen and (min-width: 992px) {
  // Styles for large devices
}

@media only screen and (min-width: 1200px) {
  // Styles for extra large devices
}
