.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.grid {
    margin-top: 80px;

    .surface-card:hover {
        transform: scale(1.2);
        img:hover {
            transition: all 1s;
            transform: rotate(360deg);
        }
    }
}

.img-container {
    position: relative;
    img {
        object-fit: fill;
        height: 400px;
    }
    > .next {
        position: absolute;
        bottom: 80px;
        left: calc(50% - (120px / 2));
        > .p-button-raised {
            margin: 0 !important;
            width: 120px !important;
        }
    }
}
