<div class="carousel-container">
  <div class="carousel-item">
    <video
      src="/video/carousel1.mp4"
      type="video/mp4"
      autoplay
      muted
      loop
      disablePictureInPicture
      controlsList="nodownload nofullscreen noremoteplayback"
    ></video>
    <div class="carousel-text">
      <div class="title">
        <h1>Sweet Lab's</h1>
        <span>DESSERTS & CAKE DESIGN</span>
      </div>
      <div class="carousel-description">
        <p>Un lieu ou la passion pour la patisserie rencontre la groumandise</p>
      </div>
    </div>
  </div>
  <div class="carousel-logo">
    <img src="/image/logo.png" alt="logo" />
  </div>
</div>
