<div class="container">
    <h3>Nos meilleurs ventes</h3>
    <div class="best-seller-container">
        <div class="best-seller-item">
            <img src="/image/tiramisu.webp" alt="">
            <div class="best-seller-info">
                <span>Tiramisu café</span>
                <p>Ingrédients : Oeufs - Sucre - Mascarpone - Vanille - Café - Boudoir</p>
            </div>
        </div>

        <div class="best-seller-item">
            <img src="/image/cookie.webp" alt="">
            <div class="best-seller-info">
                <span>Cookie Macademia</span>
                <p>Ingrédients : Sucre - Beurre - Oeuf - Farine - Vanille - Levure chimique - Sel - Macademia - Chocolat</p>
            </div>
        </div>

        <div class="best-seller-item">
            <img src="/image/brownie.webp" alt="">
            <div class="best-seller-info">
                <span>Cookie Macademia</span>
                <p>Ingrédients : Beurre - 3 Chocolats - Oeuf - Sucre - Farine - Sel - Noix de pécan</p>
            </div>
        </div>
        <div class="best-seller-item">
            <img src="/image/tiramisu.webp" alt="">
            <div class="best-seller-info">
                <span>Tiramisu café</span>
                <p>Ingrédients : Oeufs - Sucre - Mascarpone - Vanille - Café - Boudoir</p>
            </div>
        </div>

        <div class="best-seller-item">
            <img src="/image/cookie.webp" alt="">
            <div class="best-seller-info">
                <span>Cookie Macademia</span>
                <p>Ingrédients : Sucre - Beurre - Oeuf - Farine - Vanille - Levure chimique - Sel - Macademia - Chocolat</p>
            </div>
        </div>

        <div class="best-seller-item">
            <img src="/image/brownie.webp" alt="">
            <div class="best-seller-info">
                <span>Cookie Macademia</span>
                <p>Ingrédients : Beurre - 3 Chocolats - Oeuf - Sucre - Farine - Sel - Noix de pécan</p>
            </div>
        </div>
        <div class="best-seller-item">
            <img src="/image/tiramisu.webp" alt="">
            <div class="best-seller-info">
                <span>Tiramisu café</span>
                <p>Ingrédients : Oeufs - Sucre - Mascarpone - Vanille - Café - Boudoir</p>
            </div>
        </div>

        <div class="best-seller-item">
            <img src="/image/cookie.webp" alt="">
            <div class="best-seller-info">
                <span>Cookie Macademia</span>
                <p>Ingrédients : Sucre - Beurre - Oeuf - Farine - Vanille - Levure chimique - Sel - Macademia - Chocolat</p>
            </div>
        </div>

        <div class="best-seller-item">
            <img src="/image/brownie.webp" alt="">
            <div class="best-seller-info">
                <span>Cookie Macademia</span>
                <p>Ingrédients : Beurre - 3 Chocolats - Oeuf - Sucre - Farine - Sel - Noix de pécan</p>
            </div>
        </div>
        <div class="best-seller-item">
            <img src="/image/tiramisu.webp" alt="">
            <div class="best-seller-info">
                <span>Tiramisu café</span>
                <p>Ingrédients : Oeufs - Sucre - Mascarpone - Vanille - Café - Boudoir</p>
            </div>
        </div>

        <div class="best-seller-item">
            <img src="/image/cookie.webp" alt="">
            <div class="best-seller-info">
                <span>Cookie Macademia</span>
                <p>Ingrédients : Sucre - Beurre - Oeuf - Farine - Vanille - Levure chimique - Sel - Macademia - Chocolat</p>
            </div>
        </div>

        <div class="best-seller-item">
            <img src="/image/brownie.webp" alt="">
            <div class="best-seller-info">
                <span>Cookie Macademia</span>
                <p>Ingrédients : Beurre - 3 Chocolats - Oeuf - Sucre - Farine - Sel - Noix de pécan</p>
            </div>
        </div>
    </div>

</div>