<div class="container">

  <p-toast />
  <div class="products-header">
    <div class="products-details">
      <h2>Mon panier</h2>
      <p class="details-quote">Demander un devis</p>
    </div>
    <button
      pButton
      pRipple
      label="Demander un devis"
      icon="pi pi-send"
      class="p-button"
      [disabled]="productsCart.length < 1"
      (click)="showQuoteModal(true)"
    ></button>
  </div>

  @if(productsCart.length > 0) {
    <ul class="products">
      @for (product of productsCart; track product.id) {
      <li class="product-item">
        <div class="product-image">
          <img [src]="product.imageUri" [alt]="product.category" width="50" />
        </div>
        <div class="product-container">
          <div class="product-details">
            <strong>{{ product.label }}</strong>
            <p class="product-category">{{ product.category }}</p>
          </div>
          <div class="product-action">
            <div class="product-quantity">
              <span (click)="deduct(product.id)">
                <i class="pi pi-minus"></i>
              </span>
              <input
                type="number"
                min="1"
                max="200"
                step="1"
                [value]="product.quantity"
              />
              <span (click)="add(product.id)">
                <i class="pi pi-plus"></i>
              </span>
            </div>
            <div class="card flex justify-content-center gap-2">
              <p-toast />
              <p-confirmPopup />
              <p-button
                icon="pi pi-times"
                [text]="true"
                [raised]="false"
                severity="danger"
                (click)="removeProduct($event, product)"
              ></p-button>
            </div>
          </div>
        </div>
      </li>
      }
    </ul>
  } @else {
    <div class="empty-cart">
      <p><strong>Panier vide</strong></p>
    </div>
  }
  

  <p-dialog
    header="Demande de devis"
    [modal]="true"
    [(visible)]="quoteDetailsVisible"
    [style]="{ width: '25rem' }"
  >
    <span class="p-text-secondary block mb-5">Mes informations de contact</span>
    <form [formGroup]="quoteForm">
      <div class="flex align-items-center gap-3 mb-3">
        <label for="phoneNumber" class="font-semibold w-6rem"
          >Téléphone portable</label
        ><input
          id="phoneNumber"
          type="text"
          placeholder="Numéro de téléphone"
          pInputText
          class="w-full mb-3"
          formControlName="phoneNumber"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">Email</label
        ><input
          id="email"
          type="text"
          placeholder="Adresse email"
          pInputText
          class="w-full mb-3"
          formControlName="email"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Annuler"
          severity="secondary"
          (onClick)="showQuoteModal(false)"
        />
        <p-button label="Envoyer" (onClick)="submit()" />
      </div>
    </form>
  </p-dialog>
</div>
