<div class="add-dessert-container">
    <h3>Ajout d'un dessert</h3>
    <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="input-container">
            <label for="label">
                <p>Nom du dessert : </p>
                <input id="label" type="text" placeholder="Tiramisu café" formControlName="label">
            </label>
        </div>
        <div class="input-container">
            <label for="recipe">
                <p>Ingrédient : </p>
                <input id="recipe" type="text" placeholder="Café - Boudoir - Machicouli" formControlName="recipe">
            </label>
        </div>
        <div class="input-container">
            <label for="price">
                <p>Prix : </p>
                <input id="price" type="number" placeholder="20" formControlName="price">
            </label>
        </div>
        <div class="input-container">
            <label for="image">
                <p>Image : </p>
                <input id="image" type="file" accept="image/*" (change)="onFileChange($event)">
            </label>
        </div>
        <div class="input-container">
            <label for="image">
                <p>Catégorie : </p>
                <select formControlName="category">
                    <option [ngValue]="null" disabled>Select Country</option>
                    @for (category of categories; track $index) {
                    <option [ngValue]="category">{{category}}</option>
                    }
                  </select>
            </label>
        </div>
        <p class="error">{{error}}</p>
        <input type="submit" [disabled]="!addForm.valid" class="button-submit">
    </form>

    <div class="loader-container">
    @if(isLoading) {
        <span class="loader"></span>
    }
    </div>
</div>