<div class="main">
    <h2>Administration</h2>

    <div class="container">
        <div class="option-features">
            <div id="admin-features" class="feature  feature-active" (click)="selectFeature('admin-features')">
                <i class="pi pi-pencil"></i>
            </div>
            <div id="contact-requests" class="feature" (click)="selectFeature('contact-requests')">
                <i class="pi pi-inbox"></i>
            </div>
            <div id="quote-requests" class="feature" (click)="selectFeature('quote-requests')">
                <i class="pi pi-euro"></i>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>