$title-color: rgba(168, 143, 115, 0.34);

@font-face {
  font-family: montaga;
  src: url("/fonts/Montaga-Regular.ttf");
}

.container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    font-family: montaga;
  }
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 310px;
    height: 67px;
    background-color: $title-color;
    margin-bottom: 50px;
  }
}
