<div class="container">
  <div class="filter-container">
    <div class="checkbox-container">
      <p-checkbox
        [(ngModel)]="$categoriesFilter"
        label="Tiramisu"
        name="Tiramisu"
        value="Tiramisu"
        checked
        (click)="getFirstPage()"
      />
      <p-checkbox
        [(ngModel)]="$categoriesFilter"
        label="Brownie"
        name="Brownie"
        value="Brownie"
        checked
        (click)="getFirstPage()"
      />
      <p-checkbox
        [(ngModel)]="$categoriesFilter"
        label="Cheesecake"
        name="Cheesecake"
        value="Cheesecake"
        checked
        (click)="getFirstPage()"
      />
      <p-checkbox
        [(ngModel)]="$categoriesFilter"
        label="Cookie"
        name="Cookie"
        value="Cookie"
        checked
        (click)="getFirstPage()"
      />
    </div>
  </div>
  <p-divider />
  <div class="desserts-container">
    @if (desserts$ | async; as desserts ) { @for (dessert of desserts; track
    dessert.id) {
    <div class="card-container">
      <p-card
        [header]="dessert.label"
        [subheader]="dessert.category"
        [style]="{ width: '280px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            [src]="dessert.imageUri"
            (error)="dessert.imageUri = ''"
          />
        </ng-template>
        <p style="height: 50px">Recette : {{ dessert.recipe }}</p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            @if(!isInCart(dessert)) {
            <p-button
              label="Ajouter au panier"
              class="w-full"
              styleClass="w-full"
              severity="success"
              (click)="addToCart(dessert)"
            />
            } @else {
              TODO
            }
          </div>
        </ng-template>
      </p-card>
    </div>
    }
    <div class="paginator">
      <p>De {{ first }} à {{ last }} sur {{ totalRecords }}</p>
      <button [disabled]="shouldPreviousBeDisable()" (click)="previousPage()">
        <i class="pi pi-chevron-left"></i>
      </button>
      <button [disabled]="shouldNextBeDisable()" (click)="nextPage()">
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>
    }
  </div>
</div>
