.container {
    margin-top: 40px;
    > .update-container {
        > thead {
            > tr {
                > th {
                    overflow: hidden;
                }
                > th::after {
                    content: "";
                    width: 30px;
                    height: 2px;
                    background-color: black;
                }

                > .image-head {
                    min-width: 30px;
                }
                > .label-head {
                    min-width: 100px;
                }
                > .recipe-head {
                    min-width: 150px;
                }
                > .price-head {
                    min-width: 50px;
                }
                > .category-head {
                    min-width: 100px;
                }
            }
        }
    }
}