<div class="container">
    <div class="title-container">
        <h3>
            Découvrez nos desserts plus
        </h3>
        <h3>
            gourmand les uns que l’autres... 
        </h3>
    </div>
    <div class="categories">
        <div class="tiramisu-container category">
            <div class="category-img">
                <img src="image/tiramisu.webp" alt="tiramisu">
            </div>
            <div class="category-details">
                <h4>Le légendaire tiramisu</h4>
                <p>Nos Goûts :</p>
                <p>Nutella, Fraise, Mangue coco, Speculos caramel, Pistache, Litchi </p>
            </div>
        </div>
        <div class="cheesecake-container category">
            <div class="category-img">
                <img src="image/cheesecake.webp" alt="cheesecake">
            </div>
            <div class="category-details">
                <h4>Le cheesecake façon Sweetlab's</h4>
                <p>Nos Goûts :</p>
                <p>Litchi framboise, Fraises spéculos, façon Sneakers </p>
            </div>
        </div>
        <div class="brownie-container category">
            <div class="category-img">
                <img src="image/brownie.webp" alt="cheesecake">
            </div>
            <div class="category-details">
                <h4>Le brownie bien gourmand</h4>
                <p>Nos Goûts :</p>
                <p>Trois chocolat x Noix de pécan </p>
            </div>
        </div>
        <div class="brownie-container category">
            <div class="category-img">
                <img src="image/cookie.webp" alt="cheesecake">
            </div>
            <div class="category-details">
                <h4>L'indétrônable cookie</h4>
                <p>Nos Goûts :</p>
                <p>Caramel peanut butter, Trois chocolats  </p>
            </div>
        </div>
    </div>
</div>