<div class="container">
    <h3>Nos desserts</h3>
    <div class="categories-container">
        <div class="category-item">
            <a routerLink="">
                <img src="/image/tiramisu.webp" alt="Tiramisu">
                <span>Nos Tiramisus</span>
            </a>
        </div>
        <div class="category-item">
            <a routerLink="">
                <img src="/image/cheesecake.webp" alt="Cheesecake" id="cheesecake">
                <span>Nos cheesecakes</span>
            </a>
        </div>
        <div class="category-item">
            <a routerLink="">
            <img src="/image/brownie.webp" alt="Brownie">
            <span>Nos brownies</span>
            </a>
        </div>
        <div class="category-item">
            <a routerLink="">
                <img src="/image/cookie.webp" alt="Cookie">
                <span>Nos cookies</span>
            </a>
        </div>
    </div>
</div>