@font-face {
  font-family: montaga;
  src: url("/fonts/Montaga-Regular.ttf");
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-family: montaga;
  > .title-container {
    text-align: center;
    margin-bottom: 40px;
    > h3 {
      font-weight: 100;
      font-size: clamp(17px, 3vw, 40px);
      letter-spacing: -0.41px;
      color: black;
    }
  }

  > .categories {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    > .category {
      display: inline-flex;
      margin: 0;
      transition: all 400ms ease-out;
      width: 100%;
      > .category-img {
        img {
          width: clamp(120px, 15vw, 210px);
          height: clamp(120px, 15vw, 210px);
          border-radius: 20px;
        }
      }
      > .category-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 30px;
        > h4 {
          font-size: clamp(15px, 2vw, 40px);
          color: #b79074;
          font-weight: 100;
          margin-bottom: 10px;
        }
        > p {
          margin: 0;
          font-size: clamp(10px, 1vw, 20px);
        }
        > p:first-of-type {
          text-decoration: underline;
        }
      }
    }

    > .category:nth-child(odd) {
      justify-content: flex-start;
    }

    > .category:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
    > :nth-child(2) {
      transform: translateY(2vh);
    }
    > :nth-child(3) {
      transform: translateY(2.5vh);
    }
    > :nth-child(4) {
      transform: translateY(3vh);
    }

    @media screen and (min-width: 500px) {
      > :nth-child(2) {
        transform: translateY(-50px);
      }
      > :nth-child(3) {
        transform: translateY(-100px);
      }
      > :nth-child(4) {
        transform: translateY(-150px);
      }
    }
  }
}
