<app-carousel></app-carousel>
<app-category></app-category>

<div class="container">
    <div class="description-container">
        <div class="quote">
            <span>&#10075;&#10075;</span>
        </div>
        <div class="description">
            <p>
                Car nous croyons que la qualité commence par des ingrédients supérieurs, 
                nous choisissons soigneusement des produits frais et de saison.
            </p>
            <p>
                Depuis nos débuts, nous nous sommes engagés à créer des desserts exceptionnels, confectionnés avec des ingédients de qualité.
            </p>
        </div>
        <div class="quote">
            <span>&#10076;&#10076;</span>
        </div>
    </div>
</div>

<app-best-seller></app-best-seller>