<div class="container">
  <div class="commitments">
    <h3>La qualité des produits est notre <span>PRIORITÉ</span></h3>

    <div class="commitments-line">
      <div class="commitment">
        <div class="commitment-header">
          <div class="img">
            <img src="image/toque.png" alt="" />
          </div>
        </div>
        <div class="commitment-content">
          <p>
            Tous nos produits sont faits maison avec des ingrédients de qualité,
            garantissant une fraîcheur et un goût inégalés
          </p>
        </div>
      </div>
      <div class="commitment">
        <div class="commitment-header">
          <div class="img">
            <img src="image/france.png" alt="" />
          </div>
        </div>
        <div class="commitment-content">
          <p>
            Tout nos produits sont confectionnés avec amour à Bagnolet en
            Île-de-France
          </p>
        </div>
      </div>
    </div>
    <div class="commitments-line">
      <div class="commitment">
        <div class="commitment-header">
          <div class="img">
            <img src="image/green.png" alt="" />
          </div>
        </div>
        <div class="commitment-content">
          <p>Nous respectons la planète en réduisant les déchets.</p>
        </div>
      </div>
      <div class="commitment">
        <div class="commitment-header">
          <div class="img">
            <img src="image/delivery.png" alt="" />
          </div>
        </div>
        <div class="commitment-content">
          <p>
            Nous offrons une livraison rapide en 48 heures pour garantir que nos
            produits arrivent frais chez vous.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
